#room-wrapper {
  display: flex;
  padding: 20px;
}

#room-wrapper-small {
  display: flex;
}

#video-player-wrapper {
  max-width: 100vw;
  flex-grow: 1;
}

#room-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding-left: 20px;
  margin-bottom: -10px;
}

#copy-button {
  margin-top: -7px;
}
