.video-queue-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-bottom: 1px solid #484848;
}

.video-queue-channel {
  margin-top: -10px;
  opacity: 0.5;
}

#no-videos-message {
  margin-top: 25px;
  opacity: 0.5;
}

.video-queue-small {
  max-height: 59vh;
  overflow-y: scroll;
}

.video-queue-right img {
  max-width: 200px;
  max-height: 200px;
}

.video-queue-left {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
