#player-wrapper {
  position: relative;
  height: 70vh;
  background-color: black;
}

#player-wrapper-small {
  position: relative;
  height: 30vh;
  background-color: black;
}

#player-controls-wrapper {
  display: flex;
  background-color: #252525;
  gap: 30px;
}

#volume-controls {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 10px;
}

#add-to-queue-button {
  display: flex;
  align-items: center;
}

#sync-spacer {
  flex-grow: 1;
}

#skip-info {
  display: flex;
}

#skip-info p {
  opacity: 0.3;
  font-size: small;
}

#play-pause-button {
  margin-top: 3px;
}
