#player-wrapper {
  position: relative;
  height: 70vh;
  background-color: black;
}

#player-wrapper-small {
  position: relative;
  height: 30vh;
  background-color: black;
}
#loading-circle {
  position: absolute;
}

#player-controls-wrapper {
  display: flex;
  background-color: #252525;
  gap: 30px;
}

#player-controls-wrapper-small {
  display: flex;
  background-color: #252525;
}

#volume-controls {
  display: flex;
  width: 300px;
  align-items: center;
  gap: 10px;
}

#volume-controls-small {
  display: flex;
  width: 100px;
  align-items: center;
}

#sync-spacer {
  flex-grow: 1;
}

#skip-info {
  display: flex;
}

#skip-info p {
  opacity: 0.3;
  font-size: small;
}

#play-pause-button {
  margin-top: 3px;
}

#video-player-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
